/.linaria-cache
/coverage
/dist
/lib
/node_modules
/tmp
/.eslintcache
/package-lock.json

npm-debug.log
**.orig

src/**/*.js
src/**/*.js.map
website/**/*.js
website/**/*.js.map
test/**/*.js
test/**/*.js.map
yarn.lock